<a href="https://colab.research.google.com/github/choeuneheol/test1/blob/main/codeup6022~6028.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6022:[기초-입출력] 연월일 입력받아 나누어 출력하기

In [ ]:
s = input()
print(s[:2], s[2:4], s[4:6], sep=" ")

6023:[기초-입출력] 시분초 입력받아 분만 출력하기

In [2]:
s=input()
print(s[3:5])

17:23:57
23

In [4]:
hh,mm,ss= input().split(':')
print(mm)

17:53:20
53

6024:[기초-입출력] 단어 2개 입력받아 이어 붙이기

In [7]:
w1,w2=input().split()
s =w1+w2
print(s)

hello world
helloworld

6025 : [기초-값변환] 정수 2개 입력받아 합 계산하기

In [16]:
a, b = input().split()
c = int(a) + int(b)
print(c)

123 -123
0

6026:[기초-값변환] 실수 2개 입력받아 합 계산하기

In [18]:
s=input()
b=input()
c= float(s) + float(b)
print(c)

0.1
0.9
1.0

6027:[기초-출력변환] 10진수 입력받아 16진수로 출력하기1

In [22]:
a = input()
n = int(a)
print('%x'%n)

300
12c

6028:[기초-출력변환] 10진 정수 입력받아 16진수로 출력하기2